html {
    background-color: #047;
}
body {
    width: 90%;
    height: 94%;
    margin: 2% auto 2% auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid #000;
}
#frm {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    border: 0;
}