/* ALL PAGES CSS */
body { /*code for watermark*/
    background-image: url('../images/gobo_watermark.gif');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    font-family: 'Helvetica', Verdana, sans-serif;
    font-size: 12px; /* FIXME -- HiDPI display issues. */
    width: 98%;
    margin: 1%;
}

p.logo {
    width: auto;
    margin: auto;
    font-size: 1.5em; /* FIXME */
    color:#0F4D92;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    color:#0F4D92;
}

h1 {
    display: block;
    background-color: #0F4D92;
    padding: .2em .8em;
    color: white;
    font-size: 18pt;
    font-weight: 400;
    vertical-align: middle;
    z-index: 5;
}

.ql { text-align: center; }

div.ql {
    display: inline-block;
    font-size: large;
    width: 25%;
    float: left;
}

.bold {
    font-weight: 700;
}

.wp-caption {
    border: 1px solid #dddddd;
    text-align: center;
    align:right;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin: 10px 0 0 0; /* FIXME */
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.wp-caption p.wp-caption-text {
    font-size: 0.8em;
    line-height: 13px;
    align:right;
    padding: 2px 4px 5px;
    margin: 0;
    color: #666666;
}

/* For resources List */
.lambda {
    list-style-type: none;
}

.lambda > li:before {
    content: "\03BB"; /* Lambda Char Unicode */
    padding: .5em;
    font-weight: bold;
}
/* Used for the top table */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.top-table {
  width: 100%;
}

/* ALL TABLE ATTRIBUTES */
tr:nth-child(even), .dark {
    background-color:#E0E0E0;
}
tr:nth-child(odd), .light {
    background-color:#F0F0F0;
}
th {
    background-color:#B0B0B0;
    text-align:center;
}
td {
    border:1px;
    text-align:center;
    border:0;
}
/*****************************************************************************/
/** CALENDAR CLASSES **/
/*****************************************************************************/
/* All Cells */
tr.cal > td,
table.calendar > thead > tr > th {
    border: 2px solid white;
    padding: 3px; /* FIXME */
}
table.calendar > tr > td {
    margin: 2px; /* FIXME */
}

/* This is the date column */
tr.cal > td:nth-child(2) {
    font-family: monospace;
}

/* READING ASSIGNMENTS CLASSES */
/* Preface all readings links with this. */
.reading:before {
    content: "•";
    padding: 0 2px 0 0; /* FIXME */
    color: black;
    display: inline-block;
    text-decoration: none;
}

/* The standard color for readings */
.required, .required:visited {
    color: #0000EE;
}
/* Readings that are very technical */
.hard, .hard:visited {
    color: #008000;
}
/* Readings which may need to be accessed from bCourses. */
.bcourses, .bcourses:visited {
    color: #00A383;
}
/* Recommended Readings */
.optional, .optional:visited {
    color: #880000;
    font-style: italic;
}
/* Reading Assignments Key Box */
.key {
    margin: 5px 0px 10px 0px; /* FIXME */
    border: 1px solid black;
    padding: .2em;
}

/* SPECIAL DATES BACKGROUND COLOLRS */
.due {
    background-color: #FFFFCB;
}
.paper {
    background-color:#CCFFCC;
}
.project {
    background-color:#FFCCCC;
}
.exam {
    background-color:#CCCCFF;
    font-weight: bold;
}
.noClass {
    background-color:#333;
    color: #FFF;
}

/* These classes are for getting nested tables to look more noraml.*/
table.calendar > tbody > tr > td > table,
.nested {
    border: none;
    background-color: white;
    vertical-align: middle;
    padding: 0;
}
table.inner {
    border: none;
    display: inline-table;
    margin: -4px; /* Compensate for table borders */
    width: 100%;
    padding: 2px;
    vertical-align: middle;
}
tbody.inner {
    width: 100%;
    height: 100%;
    padding: 2px;
    vertical-align: middle;
}
tr.inner {
    vertical-align: middle;
    margin: 2px; /* FIXME */
    border: 2px solid white;
}
td.inner {
    display: block;
    margin: 2px; /* FIXME */
    padding: 2px; /* FIXME */
    height: 3em;
    vertical-align: middle;
    width: 100%;
}
span.inner {
    vertical-align: middle;
}

table.grades {
    margin-left:auto;    /*to make the tables have left justification, simply remove the margin- attributes here*/
    margin-right:auto;
    width:400px; /* FIXME */
    align:center;
}

/* WEEKLY CALENDAR */
div.lecture {
    background-color:#fa8072;
}

div.lab {
    background-color:#99ccff;
}

div.disc {
    background-color:#99ff66;
}

div.oh {
    background-color:#FFCC33;
}

/******************************************************************************/
/** STAFF PHOTOS **/
/******************************************************************************/

img.staff {
    border: 4px solid LightBlue;
}

div.staffimg {
  width: 100%;
  float: center;
  text-align: center;
}

div.staffimg > div {
  float: left;
  text-align: center;
  padding: .5em 0em;
}
